/* ==========================================================================
objects.retain
Creates a wrapper around a block of content, centers, adds padding and
retains it to your desired size.
/  ========================================================================== */

/**
 * Forward the variables to the parent stylesheet
 */
@forward './variables';

/**
 * Use the settings & tools in this sheet
 */
@use './variables';
@use '../../tools/rem';

/* --------------------------------------------------------------------------
Module
/  -------------------------------------------------------------------------- */

/*
Custom property api:
--o-retain-padding-inline
--o-retain-padding-inline-start
--o-retain-padding-inline-end

--o-retain-margin-inline
--o-retain-margin-inline-start
--o-retain-margin-inline-end

--o-retain-max-inline-size
--o-retain-text-max-inline-size

Based on $sizes in _variables.scss
--o-retain-lap-max-inline-size
--o-retain-desk-max-inline-size
--o-retain-wall-max-inline-size
*/

@layer objects {
	/**
	 * 1. We calculate the inline padding on top of the maximum inline size
	 *    so the content within is always the same as the maximum inline size.
	 */
	:where(.o-retain) {
		--_s-retain-padding-inline: var(
			--o-retain-padding-inline,
			var(--s-space-base, 1.5rem)
		);
		--_s-retain-padding-inline-start: var(
			--o-retain-padding-inline-start,
			var(--_s-retain-padding-inline)
		);
		--_s-retain-padding-inline-end: var(
			--o-retain-padding-inline-end,
			var(--_s-retain-padding-inline)
		);
		--_s-retain-margin-inline: var(--o-retain-margin-inline, auto);
		--_s-retain-margin-inline-start: var(
			--o-retain-margin-inline-start,
			var(--_s-retain-margin-inline)
		);
		--_s-retain-margin-inline-end: var(
			--o-retain-margin-inline-end,
			var(--_s-retain-margin-inline)
		);

		max-inline-size: calc(
			var(--o-retain-max-inline-size, var(--_s-retain-max-inline-size, 100%)) +
				var(--_s-retain-padding-inline-start) +
				var(--_s-retain-padding-inline-end)
		); /* [1] */
		padding-inline: var(--_s-retain-padding-inline-start)
			var(--_s-retain-padding-inline-end);
		margin-inline: var(--_s-retain-margin-inline-start)
			var(--_s-retain-margin-inline-end);
	}

	:where(.o-retain--flush) {
		--o-retain-padding-inline: 0;
	}

	@each $key, $value in variables.$sizes {
		:where(.o-retain--#{$key}) {
			--o-retain-max-inline-size: var(
				--o-retain-#{$key}-max-inline-size,
				#{rem.convert($value)}
			);
		}
	}

	:where(.o-retain--text) {
		--o-retain-padding-inline: 0px;
		--o-retain-margin-inline-start: 0px;
		--o-retain-max-inline-size: var(--o-retain-text-max-inline-size, 55ch);
	}
}
