/*  =========================================================================
    objects.layout.variables
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */

@use '../../settings/defaults';



/*  Variables
    ========================================================================= */

/**
 * Number of default columns, can be overwritten per component with custom
 * properties.
 */
$columns: defaults.$columns !default;


/**
 * The `gap` map
 */
$gaps: (
  'base',
) !default;


/**
 * Define which namespaced queries you would like to generate
 * for `fit` & `fill`.
 * This is handy if you only need `fit` on, say, desk, or you only need `fill`
 * at mobile sizes. It allows you to only compile as much CSS as you need.
 * All are empty by default, but you can add breakpoints at will:
 *
 * $X-in-breakpoint: (lap, desk);
 *
 * Note: the name of the breakpoint must exist in the list of `$queries`
 *       in `settings/responsive`
 */
$query-has-fit: () !default;
$query-has-fill: () !default;
