/* ==========================================================================
		objects.layout.variables
/ =========================================================================== */

@use '../../settings/defaults';

/**
 * Number of default columns, can be overwritten per component with custom
 * properties.
 */
$columns: defaults.$columns !default;

/**
 * The `gap` map
 */
$gaps: ('base') !default;

/**
 * Define which namespaced queries you would like to generate
 * for `fit` & `fill`.
 * This is handy if you only need `fit` on, say, desk, or you only need `fill`
 * at mobile sizes. It allows you to only compile as much CSS as you need.
 * All are empty by default, but you can add queries at will:
$X-in-query: (lap, desk);
 *
 * Note: the name of the query must exist in the list of `$queries`
 *       in `settings/responsive`
 */
$fit-in-query: () !default;
$fill-in-query: () !default;
