/* ==========================================================================
    test.settings.theme
/ =========================================================================== */

@use '../../../tools/responsive';

:root {
  // Light theme colors
  --color-slate: #cccccc;

  @include responsive.color-scheme(dark) {
    // Dark theme colors
    --color-slate: #000000;
  }
}

.c-color-scheme {
  background-color: var(--color-slate);
}
