/*  =========================================================================
    test.settings.theme
/   ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
/   ========================================================================= */

@use '../../../tools/responsive';



/*  Variables
/   ========================================================================= */



/*  Functions/Mixins
/   ========================================================================= */



/*  Module
/   ========================================================================= */

:root {
  // Light theme colors
  --color-slate: #cccccc;

  @include responsive.color-scheme(dark) {
    // Dark theme colors
    --color-slate: #000000;
  }
}

.c-color-scheme {
  background-color: var(--color-slate);
}
