/*  =========================================================================
    utilities.colspan.tools
    Functions and/or mixins used in this module
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */

/**
 * Forward supples generic tools to the parent stylesheet
 */
@forward '../../tools';


/**
 * Use the settings & tools in this sheet
 */
@use 'sass:math';
@use './variables';
@use '../../tools';



/*  Functions
    ========================================================================= */



/*  Mixins
    ========================================================================= */

@mixin build ($modifier: '') {
  @for $i from 1 through variables.$columns {
    .u-colspan-#{$i}#{$modifier} {
      --colspan: #{$i};
    }
  }
}
