/*  =========================================================================
    elements.headings.variables
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */



/*  Variables
    ========================================================================= */

$alpha:  36px !default;
$beta:  28px !default;
$gamma:  24px !default;
$delta:  20px !default;
$epsilon:  18px !default;
$zeta:  16px !default;
