/*  =========================================================================
    utilities.colums.tools
    Functions and/or mixins used in this module
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */

/**
 * Use the settings & tools in this sheet
 */
@use './variables';



/*  Functions
    ========================================================================= */



/*  Mixins
    ========================================================================= */

@mixin build ($modifier: '') {
  @for $i from 1 through variables.$columns {
    .u-columns-#{$i}#{$modifier} {
      --columns: #{$i};
    }
  }
}
