/*  =========================================================================
    utilities.module.variables
    ========================================================================= */

/*  Variables
    ========================================================================= */

/**
 * Depth
 */
$depth: 2 !default;
