/*  =========================================================================
    utilities.spacing
    Utility classes to put specific spacing values onto elements.
    The loop can generate us a suite of classes like:

    .u-padding-inline-start--large {}
    .u-margin-inline-end--small {}
    .u-padding-block--base {}
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */

/**
 * Forward the variables to the parent stylesheet
 */
@forward './variables';


/**
 * Use the settings & tools in this sheet
 */
@use 'sass:list';
@use 'sass:meta';
@use '../../settings/defaults';
@use './variables';
@use '../../tools/responsive';
@use './tools';



/*  Module
    ========================================================================= */

@include tools.build();



/*  Responsive
    ========================================================================= */

@if meta.type-of(variables.$in-query) == 'list' {
  @each $query in variables.$in-query {
    @include responsive.mq($query) {
      @include tools.build('#{defaults.$responsive-modifier}#{$query}');
    }
  }
} @else {
  @include responsive.mq(variables.$in-query) {
    @include tools.build('#{defaults.$responsive-modifier}#{variables.$in-query}');
  }
}
