/*  =========================================================================
    objects.flow
    Create a rule that sibling elements apply a common margin that is either
    globally defined or contextually set.
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */

/**
 * Forward the variables to the parent stylesheet
 */
@forward './variables';


/**
 * Use the settings & tools in this sheet
 */
@use './variables';
@use '../../tools/space';



/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

.o-flow {
  --gap: #{space.get(variables.$gap)};
  --flow-gap: var(--gap);

  > * + * {
    margin-block-start: var(--flow-gap);
  }
}


@each $gap in variables.$gaps {
  .o-flow--#{$gap} {
    --flow-gap: #{space.get($gap)};
  }
}
