/*  =========================================================================
    Supple
    In-browser CSS framework; Fluid, Variable, supple if you will
    ========================================================================= */

/*  Settings
    ========================================================================= */

@use '../../settings/defaults' with (
  $show-breakpoints: (palm, lap, desk, wall)
);



/*  Tools
    ========================================================================= */

// @import '../../tools/functions';
// @use '../../tools/mixins';



/*  Generic
    ========================================================================= */

@use '../../generic/reset';



/*  Elements
    ========================================================================= */

@use 'elements/toplevel';



/*  Objects
    ========================================================================= */

@use '../../objects/list-clean';
@use '../../objects/layout' with (
  $fit-in-breakpoint: (lap, desk),
  $fill-in-breakpoint: (lap, desk),
  $gaps: (
    'base',
    'tiny'
  )
);
@use '../../objects/mesh' with (
  $row-in-breakpoint: (lap, desk),
  $gaps: (
    'base',
    'tiny'
  )
);
@use '../../objects/retain' with (
  $sizes: (
    lap: 640px,
    desk: 960px,
    wall: 1280px,
    billboard: 1440px
  )
);
@use '../../objects/aspect-ratio' with (
  $ratios: (
    (2:1),
    (4:3),
    (16:9),
    (21:9)
  )
);
@use '../../objects/flow' with (
  $gaps: (
    'tiny'
  )
);



/*  Components
    ========================================================================= */

@use 'components/test';
@use 'components/fixture-box';
@use 'components/preformatted';
@use 'components/css-lock';



/*  Utilities
    ========================================================================= */

@use '../../utilities/colspan' with (
  $in-breakpoint: (lap, desk),
);
@use '../../utilities/colstart' with (
  $in-breakpoint: (lap, desk),
);
@use '../../utilities/offset' with (
  $in-breakpoint: (lap, desk),
);
@use '../../utilities/clearfix';
@use '../../utilities/spacing' with (
  $in-breakpoint: (
    from: lap,
    until: lap desk,
  )
);
@use '../../utilities/visually-hidden' with (
  $in-breakpoint: (lap, desk),
);
@use '../../utilities/hidden' with (
  $in-breakpoint: (lap, desk),
);
