/*  =========================================================================
    utilities.visually-hidden
    Hides an element visually while still allowing the content to be accessible
    to assistive technology, e.g. screen readers.
    As per: https://a11yproject.com/posts/how-to-hide-content
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */

/**
 * Forward the variables to the parent stylesheet
 */
@forward './variables';


/**
 * Use the settings & tools in this sheet
 */
@use './variables';
@use '../../tools/mixins';
@use '../../tools/responsive';




/*  Module
    ========================================================================= */

.u-visually-hidden {
  @include mixins.visually-hidden();
}



/*  Responsive
    ========================================================================= */

@include responsive.in-breakpoint(variables.$in-breakpoint, '.u-visually-hidden') {
  @include mixins.visually-hidden();
}
