/*  =========================================================================
    components.css-lock
    Test for creating fluid typography with CSS-lock mixin.
    ========================================================================= */

/*  Use rules
    `@use` everything you need here from other files. Variables, mixins &
    other includes.
    ========================================================================= */

@use '../../../lib/tools/mixins';



/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

.c-css-lock {
  @include mixins.css-lock(font-size, 20px, 30px, desk, wall);
}
