/* ==========================================================================
test.components.fixture-box
/ =========================================================================== */

.c-fixture-box {
	padding-inline-start: var(--s-space-milli);
	padding-inline-end: var(--s-space-milli);
	border: 1px solid #000000;
	background: #ee4266;
	line-height: 3rem;
	text-indent: 0;
	color: #ffffff;
}

.c-fixture-box--double-height {
	line-height: var(--s-space-mega);
}

.c-fixture-box--wrap {
	border: 1px solid #000000;
	background: rgba(238 66 102 / 30%);
}
