/* ==========================================================================
    test.components.fixture-box
/ =========================================================================== */

@use '../../../tools/space';
@use '../../../settings/defaults';

.c-fixture-box {
  padding-inline-start: space.get('small');
  padding-inline-end: space.get('small');
  border: 1px solid #000000;
  background: #ee4266;
  line-height: 3rem;
  text-indent: 0;
  color: #ffffff;
}

.c-fixture-box--double-height {
  line-height: space.get('huge');
}

.c-fixture-box--wrap {
  border: 1px solid #000000;
  background: rgba(238 66 102 / 30%);
}
