/* ==========================================================================
    components.preformatted
/ =========================================================================== */

.c-preformatted {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}
