/*  =========================================================================
    components.preformatted
    ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
    ========================================================================= */



/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

.c-preformatted {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}
