/* ==========================================================================
test.elements.toplevel
/ =========================================================================== */

html {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		Helvetica Neue,
		sans-serif;
}

body {
	padding-inline-start: var(--s-space-base);
	padding-inline-end: var(--s-space-base);
}
