/*  =========================================================================
    settings.defaults
    Supple default variables. Redefine and override them with your
    application-level variables.
    ========================================================================= */

/*  @use statements
    ========================================================================= */

@use 'sass:map';
@use 'sass:math';



/*  Baseline
    As per:
    https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632
    https://medium.freecodecamp.org/8-point-grid-typography-on-the-web-be5dc97db6bc
    ========================================================================= */

$baseline: 8px !default;



/*  Spacing
    Multiply our `$baseline` to new spacing variables for
    more transparency & consistency.
    ========================================================================= */

/**
 * How many lines should our spacing units span?
 * Each value should be an unitless integer.
 */
$space-factors: (
  'tiny': 1,
  'small': 2,
  'base': 3,
  'large': 6,
  'huge': 12,
) !default;



/*  Typography
    ========================================================================= */

$font-size: 16px !default;
$line-height: map.get($space-factors, 'base') * $baseline !default;
$line-height-ratio: $line-height/$font-size;



/*  Grid
    ========================================================================= */

$columns: 12 !default;



/*  Responsive
    Used in conjunction with Sass MQ: https://sass-mq.github.io/sass-mq/
    ========================================================================= */

/**
 * Enable/disable responsive mode
 */
$responsive: true !default;


/**
 * Static breakpoint variable/name for use in retainers & breakpoints
 */
$static-breakpoint-size: 1280px !default;
$static-breakpoint-name: wall !default;


/**
 * Breakpoints sass map
 */
$breakpoints: (
  palm: 320px,
  lap: 640px,
  desk: 960px,
  $static-breakpoint-name: $static-breakpoint-size
) !default;


/**
 * A map to show specific breakpoints for debug purposes
 */
$show-breakpoints: () !default;


/**
 * Customize the media type
 */
$media-type: all !default;


/**
 * Load sass-mq framework
 */
@use '../../vendor/sass-mq/mq' with (
  $mq-responsive: $responsive,
  $mq-breakpoints: $breakpoints,
  $mq-static-breakpoint: $static-breakpoint-name,
  $mq-show-breakpoints: $show-breakpoints,
  $mq-media-type: $media-type,
);



/*  Namespace
    Would you like supple classes to be used with a different namespace?
    ========================================================================= */

$responsive-modifier: unquote('\\@') !default;



/*  Checks
    A couple of checks for correct formatting of variables in this file
    ========================================================================= */

/**
 * Check that the chosen font rules are pixel numbers.
 */
$shouldBePixelValues: (
  'baseline': $baseline,
  'font-size': $font-size,
  'line-height': $line-height
);
@each $key, $value in $shouldBePixelValues {
  @if (type-of($value) == number) {
    @if (math.unit($value) != 'px') {
      @error '`#{$key}: #{$value}` needs to be a pixel value.';
    }
  } @else {
    @error '`#{$key}: #{$value}` needs to be a number.';
  }
}


/**
 * Check that the chosen size factors are unitless, integer numbers.
 */
$shouldBeUnitlessIntegers: (
  'columns': $columns
);
@each $key, $value in map.merge($space-factors, $shouldBeUnitlessIntegers) {
  @if (type-of($value) == number) {
    @if (math.is-unitless($value) == false) {
      @error '`#{$key}: #{$value}` needs to be unitless.';
    }
    @if ($value != math.ceil($value)) {
      @error '`#{$key}: #{$value}` needs to be an integer.';
    }
  } @else {
    @error '`#{$key}: #{$value}` needs to be a number.';
  }
}


/**
 * Check if `$space-factors` has the mandatory `base` entry
 */
@if not map.has-key($space-factors, 'base') {
  @error '`$space-factors` needs to contain atleast one entry named 'base' since supple-css internally relies on this.';
}
